<!DOCTYPE html>
<html lang="en" xmlns:over-flow-y="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <title>oneNote</title>

    <script src="https://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
    <link href="https://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <script src="https://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>

</head>
<body>

<style>
    @media (min-width: 0px) and (max-width: 764px) {
        .onenote {
            /*text-align: center;*/
            width: 100%;
            border: 1px solid #999999;
        }

        .contentDiv {
            text-align: left;
            width: 100%;
            border: 1px solid pink;
            outline: none;
            padding: 15px;
            margin-bottom: 200px;
            user-modify: read-only;
        }

        .titleDiv {
            /*border: 1px solid #999999;*/
            /*height: 100%;*/
            width: 100%;
            padding: 0px 10px;
        }

        .knowledgeTitle {
            display: block;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            width: 80%;
            margin: 20px auto 30px;
        }

        .adjustDiv {
            width: 90%;
            margin: 10px auto;
            position: relative;
            /*border: 1px solid red;*/
        }

        .editSpan {
            cursor: pointer;
            font-size: 16px;
            vertical-align: center;
            margin-left: 10px;
        }

        .save{
            width: 100px;
        }

        pre {
            position: relative;
            outline: none;
        }

        pre:hover {
            cursor: pointer;
        }

        .copyButton {
            position: absolute;
            right: 0px;
            top: 0px;
            opacity: 0.6;
            display: block;
        }

        .changeTheme {
            margin-left: 10px;
            margin-right: 10px;
        }

        .dark {
            background-color: rgba(0, 0, 0, 0.99);
            color: white;
            opacity: 0.7;
        }

        .menu {
            position: absolute;
            top: 6px;
            right: 0px;
            font-size: 19px;
            opacity: 0.7;
        }

        .listTitle {
            overflow-y: auto;
            max-height: 250px;
        }

        #myModal {
            opacity: 0.9;
        }

        .contentDiv img{
            transition: all 0.2s linear;
        }
        .contentDiv img:hover{
            transform: scale(1.5);
            transition: all 0.2s linear;
        }

    }
</style>


<div id="bigDiv">
    <div class="onenote pull-left" id="oneNote">
        <div class="adjustDiv">

            <span class="glyphicon glyphicon-th-list menu" data-toggle="modal" data-target="#myModal"></span>
            <input type="text" class="knowledgeTitle form-control" v-model="title" v-on:blur="blurSaveTitle">

            <div>
                <button class="addCodeButton" v-on:click="addCode">
                    <span class="glyphicon glyphicon-plus" title="添加代码"></span>
                </button>
                <span class="editSpan"><span class="glyphicon glyphicon-lock "></span></span>
                <button class="btn btn-success changeTheme">切换主题</button>
                <button class="exportButton btn btn-info"><span class="	glyphicon glyphicon-export"></span></button>
                <button class="importButton btn btn-info"><span class="	glyphicon glyphicon-import"></span></button>
                <button class="save btn btn-success pull-right">保存</button>

            </div>
            <div style="clear: both"></div>


            <div class="contentDiv" contenteditable="true" v-html="eachContent" @blur="blurSaveContent($event)"
                 ref="contentDiv"></div>
        </div>
    </div>

    <input type="file" class="hidden" id="fileInput" onchange="getFileContent(value)">
    <ta></ta>


    <div class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!--                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>-->
                    <!--                    <h4 class="modal-title">提问</h4>-->
                    <!--                    <h3 class="modal-title" align="center">菜单</h3>-->
                    <!--                    <a href="#" data-dismiss="modal" v-on:click="addTitle" class="list-group-item list-group-item-default addTitleLink"><span-->
                    <!--                            class="glyphicon glyphicon-plus"></span></a>-->
                </div>
                <div class="modal-body">
                    <!--                    --------------------------->
                    <div class="pull-right titleDiv" id="titleDiv">
                        <div class="list-group listTitle">
                            <a href="#" data-dismiss="modal" v-for="(titleLink,index) in titles"
                               v-on:click="showTitle(titleLink)"
                               class="list-group-item list-group-item-success titleLink">
                                {{index + 1 + ".  " + titleLink}}
                                <span class="glyphicon glyphicon-trash pull-right deleteLink"
                                      @click="deleteTitle(titleLink)"></span>
                            </a>
                        </div>
                    </div>
                    <!--                    --------------------------->
                </div>
                <div class="modal-footer">
                    <!--                    <button data-dismiss="modal" class="btn btn-default" type="button" style="margin-top: 5px">关闭</button>-->
                    <!--                    <button class="btn btn-primary" id="submit" type="button">提交</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


</div>


<script>

    Vue.component('ta', {
        template: '<textarea class="codeTA" v-on:blur="blurSaveCode"></textarea>',
        methods: {
            blurSaveCode: function () {
                $(".codeTA").hide()
                var value = $(".codeTA").val();
                if (value.length === 0) {
                    $(".contentDiv").html($(".contentDiv").html() + "<br>")
                    return
                }
                value = html_encode(value)
                $(".contentDiv").html($(".contentDiv").html() + "<pre>" + value + "</pre><br>")
                $(".codeTA").val("");
            },

        }
    })

    new Vue({
        el: "#bigDiv",
        data: {
            titles: getTitle(),
            eachContent: localStorage.getItem(getTitle()[getTitle().length - 1]),
            title: getTitle()[getTitle().length - 1],

        },

        methods: {
            //切换标题
            showTitle: function (title) {
                this.title = title;
                tempTitle = title;
                this.eachContent = localStorage.getItem(title);
                setTimeout(function () {
                    imgAdapt()
                    ifEdit()
                    shrinkCode()
                }, 10)
            },
            //    添加标题
            addTitle: function () {
                this.title = "";
                this.eachContent = ""
                $(".knowledgeTitle").focus();
            },
            //    删除标题
            deleteTitle: function (title) {
                let ifDelete = confirm("确认要删除吗？");
                if (ifDelete) {
                    let titleList = getTitle();
                    titleList = titleList.filter((x) => x !== title);
                    localStorage.removeItem(title);
                    saveTitles(titleList);
                    location.reload();
                }
            },
            //    失去焦点保存标题
            blurSaveTitle: function () {
                if (this.title.length === 0) {
                    return;
                }
                let titleList = getTitle();
                for (let i in titleList) {
                    if (titleList[i] === this.title || this.title.trim().length === 0) {
                        return;
                    }
                }
                titleList.push(this.title);
                saveTitles(titleList);
                location.reload()
            },
            //    失去焦点保存内容
            blurSaveContent: function (event) {
                if (this.title.trim().length === 0) {
                    $(".knowledgeTitle").focus()
                    return;
                }
                let content = event.currentTarget.innerHTML;
                localStorage.setItem(this.title, content);

                setTimeout(function () {
                    imgAdapt()
                }, 10)
            },
            //    添加代码
            addCode: function () {
                $(".codeTA").show()
                $(".codeTA").focus()
            }
        }
    })


    $(".codeTA").hide()

    //内容自动保存
    let i = 0;
    let saveIndex = false;
    $(".save").click(function () {
        saveIndex = !saveIndex;
        if (saveIndex) {
            i = 0;
            $(this).html("saving")

            let interval = setInterval(function () {
                saveContent()
                i--;
                console.log(i)
                let but = $(".save").html();
                $(".save").html(but + ".")
                if (i % 4 == 0) {
                    $(".save").html("saving");
                }
                if(i>0){
                    clearInterval(interval)
                    $(".save").html("保存");
                }
            }, 2000)

        } else {
            i = 2;
        }

    })

    let tempTitle = $(".knowledgeTitle").val();

    function saveContent() {
        let title = $(".knowledgeTitle").val()
        if(title.length !== tempTitle.length){
            return;
        }

        if (title.trim().length === 0) {
            $(".knowledgeTitle").focus()
            return;
        }
        let content = $(".contentDiv").html();
        localStorage.setItem(title, content);
    }

    //双击标题清空
    $(".knowledgeTitle").dblclick(function (){
        $(this).val("");
        $(this).focus();
    })


    //可编辑
    let editSpanFound = true;
    $(".editSpan").click(function () {
        if (editSpanFound) {
            $(this).attr("style", "color: #000000")
        } else {
            $(this).attr("style", "color: #999999")
        }
        editSpanFound = !editSpanFound;

        var contentDivCon = $(".contentDiv").attr("contenteditable");
        if (contentDivCon == "true") {
            $(".contentDiv").attr("contenteditable", "false")
            $("pre").attr("contenteditable", "false")
        } else {
            $(".contentDiv").attr("contenteditable", "true")
            $("pre").attr("contenteditable", "true")
        }
    })
    $(".editSpan").click()

    function ifEdit() {
        var contentDivCon = $(".contentDiv").attr("contenteditable");
        if (contentDivCon == "true") {
            $("pre").attr("contenteditable", "true")
        } else {
            $("pre").attr("contenteditable", "false")
        }
    }


    //图片自适应
    let divWidth = $(".contentDiv").css("width");

    function imgAdapt() {
        $(".contentDiv img").each(function (index, element) {
            let width = $(this).css("width");
            if (width > divWidth) {
                $(this).css("width", "100%")
            }
        })
    }

    setTimeout(function () {
        imgAdapt()
    }, 2)

    //切换主题
    let found = false;
    $(".changeTheme").click(function () {
        if (found === false) {
            $("body").addClass("dark")
        } else {
            $("body").removeClass("dark")
        }
        found = !found;
    })


    $(".contentDiv").on("mouseenter", "pre", function () {
        $(this).append("<button class='copyButton' contenteditable='false'>复制</button>")
    })
    $(".contentDiv").on("mouseleave", "pre", function () {
        $(".copyButton").remove()
    })
    $(".contentDiv").on("click", ".copyButton", function () {
        $(this).hide();
        var selection = window.getSelection();
        selection.removeAllRanges();
        var range = document.createRange();
        let con = $(this).parent().get();
        range.selectNodeContents(con[0]); // 需要选中的dom节点
        selection.addRange(range);

        try {
            document.execCommand("copy", undefined, undefined)
        } catch (e) {
            console.log("浏览器不支持该功能")
        }
    })

    //图片识别
    $(".contentDiv").on("dblclick", "img", function () {
        let sourcedata = $(this).attr("src");
        alert("暂未开发。。。")
    })

    //标题加高光
    $(".titleLink").click(function () {
        $(".titleLink").each(function () {
            $(this).attr("class", "list-group-item list-group-item-success titleLink")
        })
        $(this).attr("class", "list-group-item list-group-item-warning titleLink")
    })

    //过长的代码缩小
    $(".contentDiv .showLink").remove()
    function shrinkCode(){
        $(".contentDiv .showLink").remove()
        $(".contentDiv pre").each(function () {
            let preHeight = $(this).css("height")
            // alert(preHeight)
            preHeight = parseInt(preHeight);
            if (preHeight >= 300){
                $(this).before("<div contenteditable='false' class='showLink' style='display: block; background-color: rgba(236,236,236,0.44); padding: 10px 5px'><a>代码过长, 点击查看 <span class='glyphicon glyphicon-resize-full' style=' font-size: 12px'></span> </a></div>")
                $(this).hide()
            }
        })
    }
    shrinkCode()

    $(".contentDiv").on("click", ".showLink a", function () {
        $(this).parent().next().show()
        $(this).parent().hide()
    })


    // 编译和反编译
    function html_encode(str) {
        var s = "";
        if (str.length == 0) return "";
        s = str.replace(/&/g, "&amp;");
        s = s.replace(/</g, "&lt;");
        s = s.replace(/>/g, "&gt;");
        s = s.replace(/ /g, "&nbsp;");
        s = s.replace(/\'/g, "&#39;");
        s = s.replace(/\"/g, "&quot;");
        s = s.replace(/\n/g, "<br/>");
        return s;
    }

    //    标题失去焦点保存
    $(".knowledgeTitle").blur(function () {
        var title = $(this).val();

        let found = true;

        var titleList = getTitle();
        for (var i in titleList) {
            if (titleList[i] == title || 0 == title.length) {
                found = false;
                break;
            }
        }
        if (found) {
            titleList.push(title)
            saveTitles(titleList)
        }
    })


    //  得到标题
    function getTitle() {
        var titleList = new Array();
        var titles = localStorage.getItem("titles")
        if (titles == null) {
            return titleList;
        }
        var titleArray = titles.split("|||");
        for (var i in titleArray) {
            if (titleArray[i].trim().length != 0) {
                titleList.push(titleArray[i]);
            }
        }
        return titleList;
    }


    //如果titles是空，则创建
    if (localStorage.getItem("titles") == null) {
        localStorage.setItem("titles", "");
    }

    //保存标题
    function saveTitles(titleList) {
        var titleStr = ""
        for (var i in titleList) {
            titleStr += titleList[i] + "|||"
        }
        localStorage.setItem("titles", titleStr);
    }

    //    读取网络文件
    function readNetFile(url, callback) {
        let blob;
        const url2 = url.replace(/\\/g, '/');
        const xhr = new XMLHttpRequest();
        xhr.open('GET', url2, true);
        // xhr.responseType = 'blob';
        // xhr.setRequestHeader('Authorization', 'Basic a2VybWl0Omtlcm1pdA==');
        // 为了避免大文件影响用户体验，建议加loading
        xhr.onload = () => {
            if (xhr.status === 200) {
                // 获取文件blob数据并保存
                blob = xhr.response;
                // alert(blob)
                callback(blob)
            }
        };
        xhr.send();
    }
    //分割读取到的文件并保存到本地
    function splitContentFile(content){
        localStorage.clear();
        var titles = content.split("&&&")[0];
        var contents = content.split("&&&")[1];
        var contentList = contents.split("||||");
        var index;
        for (var i in contentList) {
            if (contentList[i].trim().length === 0) {
                index = i;
                break;
            }
        }
        if (null != index) {
            contentList.splice(index, 1);
        }
        localStorage.setItem("titles", titles);
        var titleList = titles.split("|||")
        titleList.splice(titleList.length - 1, 1);
        for (var y in titleList) {
            localStorage.setItem(titleList[y], contentList[y])
            location.reload()
        }
    }


    //    备份文件(导出)
    $("button.exportButton").on("click", function () {

        var textTitles = localStorage.getItem("titles");
        var titleList = getTitle();
        var content = "";
        for (var i in titleList) {
            var textEachContent = localStorage.getItem(titleList[i]);
            content += textEachContent + "||||"
        }
        var textContent = textTitles + "&&&" + "\r\n" + content;
        exportRaw('oneNoteData.txt', textContent)
    })

    function fakeClick(obj) {
        var ev = document.createEvent("MouseEvents");
        ev.initMouseEvent("click", true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
        obj.dispatchEvent(ev);
    }

    function exportRaw(name, data) {
        var urlObject = window.URL || window.webkitURL || window;
        var export_blob = new Blob([data]);
        var save_link = document.createElementNS("http://www.w3.org/1999/xhtml", "a")
        save_link.href = urlObject.createObjectURL(export_blob);
        save_link.download = name;
        fakeClick(save_link);
    }

    //    导入文件
    //导入网络文件
    var timeOutEvent;
    $(".importButton").on({
        touchstart: function(e){
            timeOutEvent = setTimeout(function(){
                //此处为长按事件-----在此显示遮罩层及删除按钮
                readNetFile("https://wceng.github.io/web-html/src/oneNoteData.txt", function (content){
                    let ifConfirm = confirm("将导入GitHub上的oneNote数据文件?");
                    if(ifConfirm){
                        splitContentFile(content);
                    }
                })
            },500);
        },
        touchmove: function(){
            clearTimeout(timeOutEvent);
            timeOutEvent = 0;
            e.preventDefault();
        },
        touchend: function(e){
            clearTimeout(timeOutEvent);
            if(timeOutEvent!=0){//点击
                //此处为点击事件----在此处添加跳转详情页
                $("#fileInput").click()
            }
            return false;
        }
    });

    function getFileContent(value) {
        localStorage.clear()
        var doc = document.getElementById('fileInput')
        var fileName = doc.files[0].name;
        var selectedFile = doc.files[0];

        var reader = new FileReader();//这里是核心！！！读取操作就是由它完成的。
        reader.readAsText(selectedFile);//读取文件的内容

        reader.onload = function () {
            var content = this.result;
            var titles = content.split("&&&")[0];
            var contents = content.split("&&&")[1];
            var contentList = contents.split("||||");
            var index;
            for (var i in contentList) {
                if (contentList[i].trim().length === 0) {
                    index = i;
                    break;
                }
            }
            if (null != index) {
                contentList.splice(index, 1);
            }
            localStorage.setItem("titles", titles);
            var titleList = titles.split("|||")
            titleList.splice(titleList.length - 1, 1);
            for (var y in titleList) {
                localStorage.setItem(titleList[y], contentList[y])
                location.reload()
            }
        }

    }
</script>

</body>
</html>